.bg-grid-pattern {
    background-image: linear-gradient(to right, rgb(55 65 81 / 0.1) 1px, transparent 1px),
                      linear-gradient(to bottom, rgb(55 65 81 / 0.1) 1px, transparent 1px);
    background-size: 4rem 4rem;
}